<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>90318257886-ep3736r0n2ph0d075v23v12fbsgo1qfm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.90318257886-ep3736r0n2ph0d075v23v12fbsgo1qfm</string>
	<key>API_KEY</key>
	<string>AIzaSyAW8M7INEVI93Wr2UfQGfBB-hDvxBR_8Ds</string>
	<key>GCM_SENDER_ID</key>
	<string>90318257886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.golab</string>
	<key>PROJECT_ID</key>
	<string>golab-73336</string>
	<key>STORAGE_BUCKET</key>
	<string>golab-73336.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:90318257886:ios:ffd31665c9d6fbe6e5cc4f</string>
</dict>
</plist>